
/* css */
.header-background {
  background-color: #F5C518;
}

#site-name {
  font-family: 'Inria Sans', sans-serif;
  font-size: 80px;
}

#usability-test {
  font-family: 'Inria Sans', sans-serif;
  font-weight: bold;
  font-size: 100px;
}

h6 {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #999999;
}

h4 {
  font-size: 36px;
  font-weight: bold;
  line-height: 45px;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  line-height: 29px;
}

.p-1 {
  background-color: #C6C6C6;
}
