
/* css */
.header-background {
  background-color: #F5C518;
}

#site-name {
  font-family: 'Inria Sans', sans-serif;
  font-size: 80px;
}

#usability-test {
  font-family: 'Inria Sans', sans-serif;
  font-weight: bold;
  font-size: 100px;
}

p {
  font-family: 'Roboto', sans-serif;
}

.p-1 {
  background-color: #C6C6C6;
}
